/*
* {
	
	letter-spacing:8px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	/*-moz-osx-font-smoothing: grayscale;/
	
    }

    */

body {

    margin: 15px;
    background-image: url(Gif/bde.gif);
    background-size: cover;

}

#block_1 {
     
    border-radius: 6px;
    background-image: url(Gif/61P.gif);
    background-size: cover;
    width:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	
	box-shadow:black 0px 5px 10px;
	text-align:center;
    padding-top:43px;
    position: relative;
    
}
.maim {

    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
.maim img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.menu {
    position: absolute;
    
    bottom: 0;
    right: 0;
    margin: auto;
    list-style-type: none;
    
}

small{
    font-size:12px;
	font-family:Times, "Times New Roman", serif;
	font-weight:normal;
    clear:both;
	line-height:40px;
	margin:0px;
}
.menu li {
    float: right;
    
}
a:hover { color: #fff; background: rgb(24, 144, 148); }

.menu a {

   text-decoration: none;
    
    font-family: sans-serif;
    color: lavender;
    display: inline-block;
    padding: 13px 20px;
    
}

#greeting {
    
    display: block; 
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 2px;
    padding: 20px;
    background-color: #ded0ff;
}

.p_1{

    margin: 0pc;
    padding-left: 5mm;
}

.greetings {
    
    font-family: "Comic Sans MS", kurzíva, sans-serif;

}
/*  
.main {
    
    background: rgb(241, 234, 255);
    margin: 10px 20px;
    height: 50pc;
    
}
*/
.Sec{
    
    text-align: center;
}

.h1 {
    margin-left: auto ;
  margin-right: auto ;
  padding: 10px 8%;
    letter-spacing: 0.02em;
}

h1 {
    font-size: 32px;
    text-align: center;
    color: #b48608;
    font-family: ‘Droid serif’, serif;
    font-weight: 400; 
    font-style: italic;
    line-height: 44px;
    margin: 0 0 12px;
}

.article {
    width: 800px;
    background-color: floralwhite;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    box-shadow: black 0px 5px 10px;
    text-align: center;
    letter-spacing: 8px;
    font-size: 13px;
    padding-top: 20px;
}


.article p {

    margin:20px;
	font-size:20px;
}


p {
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        
}

b {
	color:#d2738a;
	font-weight:normal;
	box-shadow: black 0px 5px 10px;
    }
    
    .kom{

        color: black;
    }
    .comment{
        width: 800px;
        background-color: #f2f2f2;
        background-size: cover;
        border: 1px solid #666;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        font-family: Tahoma;
        font-size: 12px;
        border-radius: 4px;
        box-shadow: 2px 2px 2px #999;
        padding-bottom : 50px;
   }    

.footer {

    
    bottom : 0;
    
    background: rgb(33, 124, 94);
    width: 100%;
    margin-left: 0px;
    padding: 20px 0;
    border-bottom: 3px solid rgb(33, 31, 31);
    border-right: 3px solid rgb(33, 31, 31);
    border-left: 3px solid rgb(33, 31, 31);
    position: relative;
    
    height: 100px;    
    text-align: center;
    font-size: 13pt;
    }

.footer p{

    color: #fff;
    margin: 10px 0;    
}
        
.copyright{
        
  font-size: 14px;
  text-align:center;
  border-top: 1px solid #fff;      
}   


    /*
    position: relative;
    padding: 10px;
    border: 1px solid #000;
    background: #fc0;
    height: 500px; 

    position: absolute;
    top: -12px;
    left: 26pc;
    /text/color: red;
    /Back color/background: red;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: -webkit-match-parent;
    display: block;
    position: relative;*/