.menu {
    
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    background-image: url(61P.gif);

}
.menu a {
   display: block; 
   text-decoration: none;

    font-family: sans-serif;
    color: #5757a0;
    display: inline-block;
    padding: 10px 20px;
    background-color: lavender;
    border-bottom: 5px solid #5757a0;
}

.menu li {

    display: inline;

}

    /*display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding-left: 0;
    list-style: none;
    text-align: -webkit-match-parent;
    display: block;
    position: relative;]*/