body {

    margin: 15px 15px 0px 15px;
    background-image: url(Gif/bde.gif);
    background-size: 100%;

}

#block_1 {
     
    border-radius: 6px;
    background-image: url(Gif/61P.gif);
    background-size: cover;
    width:878px;
    height:auto;
	margin-left:auto;
	margin-right:auto;
	
	box-shadow:black 0px 5px 10px;
    text-align:center;
    padding-top:43px;
    position: relative;
    
}
#block_2 {
     
    border-radius: 6px;
    background-image: url(Gif/61P.gif);
    background-size: cover;
    width:841px;
    height:auto;
	margin-left:auto;
	margin-right:auto;
	
	box-shadow:black 0px 5px 10px;
    text-align:center;
    padding-top:43px;
    position: relative;
    
}

.menu {
    position: absolute;
    padding-left: 0;
    bottom: 0;
    margin: auto;
    list-style-type: none;
    
}

.menu li {
    float: right;
}

a:hover { color: #fff; background: rgb(24, 144, 148); }

.menu a {

   text-decoration: none;
    
    font-family: sans-serif;
    color: lavender;
    display: inline-block;
    padding: 13px 20px;
    
}

/*
.menu{
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}
.flex {

    width: 130px;
    font-weight: bold;
    padding: 13px 0px 10px 0px;
}
#flex{
    width: 130px;
    font-weight: bold; 
    padding: 4px 0px 2px 0px;
}
#flex a {
    text-decoration: none;
    font-family: sans-serif;
    color: lavender;
}
.flex a {
    text-decoration: none;
    font-family: sans-serif;
    color: lavender;
    
}
.flex a:hover {
 padding: 12.6px;
}
*/
a:hover { color: #fff; background: rgb(24, 144, 148); }
  
.maim {

    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}
.maim img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.version {
    border-radius: 2cm;
    float: right;
    margin-top: 5px;
    margin-right: 6pc;
    background-color: floralwhite;
}
.version a {
    display: block;
    text-align: center;
    margin: 7px;
    text-decoration: none;
    border-radius: 1cm;
    color: rgb(150, 36, 150);
}

.version a::after{
    color: rgb(150, 36, 150);
}

small{
    font-size:12px;
	font-family:Times, "Times New Roman", serif;
	font-weight:normal;
    clear:both;
	line-height:40px;
	margin:0px;
}

#greeting {
    
    display: block; 
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 2px;
    padding: 20px;
    background-color: #ded0ff;
}

.p_1{

    margin: 0pc;
    padding-left: 5mm;
}

.greetings {
    
    font-family: "Comic Sans MS", kurzíva, sans-serif;

}
.article_1 {
    width: 800px;
    background-color: floralwhite;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    box-shadow: black 0px 5px 10px;
    text-align: center;
    letter-spacing: 8px;
    font-size: 13px;
    padding-top: 20px;
}


.article_1 p {

    margin:20px;
	font-size:20px;
}
.article {
	width:800px;
	background-color:black;
	height:auto;
	margin-left:auto;
	margin-right:auto;
    margin-top:40px;
    margin-bottom: 10px;
	box-shadow:black 0px 5px 10px;
    text-align:center;
    color:#d2738a;
	letter-spacing:8px;
	font-size:13px;
	padding-top:20px;
    padding-bottom: 10px;
	
    }
	
.article p {
	margin:20px;
	font-size:14px;
	
    }
 .article strong {
    color: rgb(255, 244, 209);
 }   
 .article hr {
	border-bottom-width:2px;
 }
p {
    
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
        
}
i {
    color: #eea3b6;
}
u{
    background-color: rgb(14, 85, 62);
}
b {
	color:#d2738a;
	font-weight:normal;
	box-shadow: black 0px 5px 10px;
    }
    
    .kom{

        color: black;
    }
    .comment{
        width: 800px;
        background-color: #f2f2f2;
        background-size: cover;
        border: 1px solid #666;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        font-family: Tahoma;
        font-size: 12px;
        border-radius: 4px;
        box-shadow: 2px 2px 2px #999;
        padding-bottom : 50px;
   }    

.Sec{
    
    text-align: center;
}

.h1 {
    margin-left: auto ;
  margin-right: auto ;
  padding: 10px 8%;
    letter-spacing: 0.02em;
}
#h1_foto{
    font-size: 36px;
    text-transform: uppercase;
    color: #cccccc;
    text-align: center;
    margin: 30px 0;
}
.h1_0 {
    font-size: 32px;
    text-align: center;
    color: #b48608;
    font-family: "Droid serif", serif;
    font-weight: 400; 
    font-style: italic;
    line-height: 44px;
    margin: 0 0 12px;
}
.main {  
    background: rgb(241, 234, 255);
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 600px;
    box-shadow: black 0px 5px 10px;
    text-align: center;
    border: 26px solid #666;
}
#templatemo_header, #templatemo_main, #templatemo_footer {
	width: 960px;
	padding: 40px 10px;
    margin: 0 auto;
    
}
.half { 
	width: 465px; 
	margin-bottom: 30px; 
}
.left { float:left }
.right { float:right }

#contact_form { 
	padding: 0; 
	margin: 0;  
}
.clear { clear: both; display: block; }
.h10 { height: 10px }
.h20 { height: 20px }
.h40 { height: 40px }
.container {
    width: 100%; /* ширина блока-контейнера */
    max-width: 960px; /* максимальная ширина контейнера */
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; /* этот стиль центрирует контейнер */
}
.photo {
    float: left; /* говорим элементам выстраиваться один за другим */
    width: 33.333333%; /* устанавливаем ширину элемента */
    padding: 10px 0px 10px 10px;/* добавляем отступы с каждой стороны */
    box-sizing: border-box; /* меняем способ вычисления ширины */
    margin-left: 90px;
}
.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 10px solid #eee;
    box-sizing: border-box;
}

.photo a:hover {opacity: 0.5;}
.photo a {
    display: block;
    position: relative;
}
.photo a:after {
    content: '';
    background: transparent url(Gif/icons/eye-icon.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}
.photo:hover > a:after {
    visibility: visible;
}
.photo figcaption {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    text-align: center;
    margin-top: 20px;
}
#gallery {
    margin-bottom: 50px;
}
#gallery:after { 
    content: '';
    display: block; 
    height: 0; 
    clear: both;
 }
 #conto{
        width: 100%; /* ширина блока-контейнера */
        max-width: 1200px; /* максимальная ширина контейнера */
        margin-left: auto;
        margin-right: auto;
        margin: 0 auto; /* этот стиль центрирует контейнер */
 }
 .gallery {
    margin-bottom: 50px;
    width: 1200px;
}
.gallery:after { 
    content: '';
    display: block; 
    height: 0; 
    clear: both;
 }
 #oto{  
   text-align: center;
   color: cornflowerblue;
   
 }
 .foto{
    float: left; /* говорим элементам выстраиваться один за другим */
    width: 33.333333%; /* устанавливаем ширину элемента */
    padding: 10px 0px 10px 10px;/* добавляем отступы с каждой стороны */
    box-sizing: border-box; /* меняем способ вычисления ширины */
    margin: 0px;
    
 }
 .foto img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 10px solid #eee;
    box-sizing: border-box;
 }
 
.foto figcaption {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    text-align: center;
    margin-top: 20px;
}

.thumb figure { 
    width: 23%;
    margin: 50px 50px 50px 85px;
    display: inline-block;
  }
  
  .thumb img {
    border: 1px solid #55c5e9;
    width: 100%;
  }
  
  .thumb figcaption {
    text-align: center;
    font-style: italic;
    color: black;
    background: white;
    
  }

.top img{
    object-fit: contain;
    margin: 0px 0px 100px 200px;
    
}
.bottom img {
    object-fit: contain;
    margin: 0px 0px 100px 150px;
}
 
 #container {
     margin-left: auto;
     margin-right: auto;
     display: -moz-box;
     display: -webkit-box;
     width: 1000px;
     height: 280em;
     -moz-box-orient: horizontal;
     -webkit-box-orient: horizontal;
 }
 #main_section{
     -moz-box-flex: 1;
     -webkit-box-flex: 1;
     margin: 20px 0px 20px 20px; 
     background: #cccccc;
 }
#artrit {
    width: 200px;
    position: absolute;
    margin-left: 30px;
}
.pop {
    position: relative;
    top: 35px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.pop h3 {
 margin: 0px 0px 0px 0px;
}
.pop span {
    font-size: 12px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    
}
.pop hr {
    width: 230px;
}
table{
    margin: 10px;
    margin-top: 50px;
}
td{
    padding: 10px;
}
td:nth-child(2n)
{
    font-weight: bold;
}
 #main_aside{
     width: 620px;
     margin: 20px 0px;
     padding: 10px;
     background: #cccccc;
 }
 .block{
     margin: 10px 0px 50px 0px;
     padding: 20px;
 }
 .block hr{
    width: 600px;
}
 hr{
     width: 650px;
 }
 
 #main_aside img {
    float: left;
    margin: 0px 15px 0px 20px;
    padding: 0px 0px 10px 0px;
    
 }
 #main_aside img:nth-child(2n+1) {
    float: right;
    margin: 0px 0px 0px 40px;
    transform: translate(0,-80px)
    
 }


 .block p {
     text-align: justify;
     margin: 30px 20px 130px 20px;
     
 }
.footer {

    
    bottom : 0;
    
    background: rgb(33, 124, 94);
    margin-left: 0px;
    padding: 20px 0;
    border-bottom: 3px solid rgb(33, 31, 31);
    border-right: 3px solid rgb(33, 31, 31);
    border-left: 3px solid rgb(33, 31, 31);
    position: relative;
    
    height: 100px;    
    text-align: center;
    font-size: 13pt;
    }

.footer p{

    color: #fff;
    margin: 10px 0;    
}
        
.copyright{
        
  font-size: 14px;
  text-align:center;
  border-top: 1px solid #fff;      
}  

